.footer {
    height: 100px;
    width: 100%;
    flex: none;
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    align-items: center;
}

.item span {
    margin-right: 10px;
}