.header {
  min-height: 120px;
  padding: 20px;
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdba74;
  color: #7c2d12;
}

.score__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.score__item {
  display: flex;
}

.score__label {
  margin-right: 10px;
}

.title {
  font-size: 2.5rem;
}
